{{define "nav"}}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li>
                    <a href="/">Painel de controle</a>
                </li>
                <li>
                    <a href="/campaigns"> Campanhas </a></li>
                <li>
                    <a href="/groups"> Usuários &amp; Grupos </a>
                </li>
                <li>
                    <a href="/templates"> Modelos de e-mail </a>
                </li>
                <li>
                    <a href="/landing_pages"> Páginas de destino </a>
                </li>
                <li>
                    <a href="/sending_profiles">Perfis de envio</a>
                </li>
                <li>
                    <a href="/settings"> Configurações da conta </a>
                </li>
                {{if .ModifySystem}}
                <li>
                    <a href="/users"> Gerenciamento de usuários <span class="nav-badge badge pull-right"> Administrador </span> </a>
                </li>
                <li>
                    <a href="/webhooks"> Webhooks <span class="nav-badge badge pull-right"> Administrador </span> </a>
                </li>
                {{end}}
                <li>
                    <hr>
                </li>
                <li>
                    <a href="https://docs.getgophish.com/user-guide/"> Guia do usuário </a>
                </li>
                <li>
                    <a href="https://docs.getgophish.com/api-documentation/">Documentação API</a>
                </li>
            </ul>
        </div>
    </div>
</div>
{{end}}